.breadcrum{
    height: 35px;
    background-color: rgb(236, 102, 13);
}

.breadcrum .grid{
    height: 100%;
}

.breadcrum .row{
    height: 100%;
    align-items: center;
}

.breadcrum i{
    font-size: 20px;
    margin-right: 8px;
    font-weight: 600;
    color: #000;
}

.breadcrum a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.breadcrum a:hover{
    text-decoration: underline;
}

.breadcrum__name{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}