.slider__content{
    padding-top: 50%;
    position: relative;
    overflow: hidden;
}

.slider__list-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all linear 0.5s;
}

.slider__list-img.resize{
    transition: all linear 0s;
}

.slider__list-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}